body
{
    overflow-x: hidden;
    background-image: url("../img/backgroundChatBox.jpg");
}

#chatBox
{
    position:fixed;
    left: 25%;
    top: 25%;
    width: 51.5%;
    height: 50%;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: inset;
}

#formBox
{
    position:fixed;
    left: 25%;
    top: 65%;
    width: 50%;
    height: 5%;
    border-radius: 10px;
}

#formBox input
{
    position:fixed;
    left: 25%;
    top: 75.5%;
    width: 45%;
    height: 5%;
    border-radius: 10px;
}

#formBox button
{
    position:fixed;
    left: 65.5%;
    top: 75.5%;
    width: 11%;
    height: 6%;
    border-radius: 10px;
}

#chatBox.scroll 
{
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatBoxMsg b
{
    color:rgb(227, 20, 20);
}