body{
    overflow-x: hidden;
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("../img/indexBackground2.jpg");
}

/* --- MODEL 3D --- */
.model3D
{
  position: relative;
  height : 300px;
  width  : auto;
}

/* --- BIG BLOCK --- */
.bigBlock
{
    margin: 0px;
    width: 70%;
    height: 85%;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    font-family: 'Arial Black', Arial, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* --- ALIGNEMENT A GAUCHE --- */
.aligneLeft
{
    margin-left: 30%;
}

/* --- ALIGNEMENT CENTRAL --- */
.aligneCenter
{
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 0px;
}

/* --- TEXTE --- */
p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 50%;
}
p.large
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 80%;
}

/* --- IMAGE --- */
img
{
    width: 70%;
    margin-left: 10%;
}

figcaption
{
    margin-left: 10%;
}

.littleImg
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* --- Liste à puce --- */
li {font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
li, #blue { list-style-image: url(../img/blue.png);}
li, #yellow { list-style-image: url(../img/yellow.png); }
li, #red { list-style-image: url(../img/red.png); }
li, #purple { list-style-image: url(../img/purple.png); }
li, #green { list-style-image: url(../img/green.png); }
li, .vide 
{ 
    font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: disc;
}

/* ------------- TABLEAU --------------*/
/* Trace les bordures du tableau */
table
{
    border-collapse: collapse;
}
/* fond des titre de chaque colonne */
thead tr {
    background-color: rgb(22, 22, 22);
}
/* taille de chaque box du tableau & centrage des titres */
th {
    padding: 10px 15px;
    text-align: center;
}
/* taille de chaque box du tableau & titres aligné à gauche */
td {
    padding: 10px 15px;
    text-align: left;
}
/* border des cases du tableau */
tbody tr, td, th {
    border: 1px solid rgb(0, 0, 0);
}
/* assombrire les cases du tableau une fois sur deux */
tbody tr:nth-child(even){
    background-color: #454545;
}

footer
{
  width: 100%;
}
/* -----------------------------------------*/

/* --- Background --- */
.fond-image
{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.image1{ background-image: url("https://images.unsplash.com/photo-1518457607834-6e8d80c183c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"); }
.image2{ background-image: url("https://images.unsplash.com/photo-1477436637632-85d08d035630?ixlib=rb-1.2.1&auto=format&fit=crop&w=1337&q=80"); }
.image3{ background-image: url("https://images.unsplash.com/photo-1506368153642-f361edca71a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1407&q=80"); }
.image4{ background-image: url("https://images.unsplash.com/photo-1499285052060-2e5b1834f295?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); }
.image5{ background-image: url("https://images.unsplash.com/photo-1555339990-18e05015e062?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); }

/* -------------------------------------------------------------------------------*/


/* --- ANIMATION 1--- */
#watchme {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    0% {
      margin-left: -30%;
      width: 20%;
    }
    50% {
      margin-left: 20%;
      width: 20%;
    }
    100% {
      margin-left: -30%;
      width: 20%;
    }
  }
  /* ---------------*/
  /* --- ANIMATION 2--- */
#watchme2 {
    animation-duration: 5s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein2 {
    0% {
      width: 20%;
    }
    50% {
      width: 30%;
    }
    100% {
      width: 20%;
    }
}


  /* ---------------*/

@media screen and (max-width: 1200px) {
  .bigBlock {
      width: 90%;
      align-items:flex-start;
      align-content: flex-start; 
  }
  .slidein {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    0% {
      margin-left: 0%;
      width: 20%;
    }
    50% {
      margin-left: 50%;
      width: 20%;
    }
    100% {
      margin-left: 0%;
      width: 20%;
    }
  }

  p
  {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large;
      width: 100%;
  }
}