body {
    color: antiquewhite;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
}

/* --- BIG BLOCK --- */
.bigBlock
{
    margin: 0px;
    top: 100px;
    width: 70%;
    height: 85%;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    font-family: 'Arial Black', Arial, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* --- ALIGNEMENT A GAUCHE --- */
.aligneLeft
{
    margin-left: 30%;
}

/* --- ALIGNEMENT CENTRAL --- */
.aligneCenter
{
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 0px;
}

/* --- TEXTE --- */
p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 50%;
}
p.large
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 80%;
}

/* --- IMAGE --- */
img
{
    width: 70%;
    margin-left: 10%;
}

figcaption
{
    margin-left: 10%;
}

.littleImg
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* --- Liste à puce --- */
li {font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
li, #blue { list-style-image: url(../img/blue.png);}
li, #yellow { list-style-image: url(../img/yellow.png); }
li, #red { list-style-image: url(../img/red.png); }
li, #purple { list-style-image: url(../img/purple.png); }
li, #green { list-style-image: url(../img/green.png); }
li, #vide 
{ 
    font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: disc;
}

/* ------------- TABLEAU --------------*/
/* Trace les bordures du tableau */
table
{
    border-collapse: collapse;
}
/* fond des titre de chaque colonne */
thead tr {
    background-color: rgb(22, 22, 22);
}
/* taille de chaque box du tableau & centrage des titres */
th {
    padding: 10px 15px;
    text-align: center;
}
/* taille de chaque box du tableau & titres aligné à gauche */
td {
    padding: 10px 15px;
    text-align: left;
}
/* border des cases du tableau */
tbody tr, td, th {
    border: 1px solid rgb(0, 0, 0);
}
/* assombrire les cases du tableau une fois sur deux */
tbody tr:nth-child(even){
    background-color: #454545;
}
/* -----------------------------------------*/

/* --- ANIMATION 1--- */
.slidein {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    0% {
      margin-left: -30%;
      width: 20%;
    }
    50% {
      margin-left: 20%;
      width: 20%;
    }
    100% {
      margin-left: -30%;
      width: 20%;
    }
  }
  /* ---------------*/
  /* --- ANIMATION 2--- */
.slidein2 {
    animation-duration: 5s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein2 {
    0% {
      width: 20%;
    }
    50% {
      width: 30%;
    }
    100% {
      width: 20%;
    }
  }
  /* ---------------*/
