body {
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    /*background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("../img/indexBackground2.jpg");*/
    filter: blur(0.3);
    overflow-x: hidden;
}

.backGround
{
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: url("../img/refBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

/* Place le titre "projet" au centre */
.center
{
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(232, 125, 13);
}

/* Block principal qui contient les sous-block */
.firstBlock
{
    /* utilise x% de larger et y% de hauteur de la page */
    width: 80%;
    height: 85%;
    /* contour plus arrondi */
    border-radius: 10px;
    /* L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page. */
    position: relative;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    font-family: 'Arial Black', Arial, sans-serif;
    /* Il est flexible et ses éléments enfants le sont aussi */
    display: flex;
    justify-content: center;
    /* centré et à 5% du top */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* Block secondaire qui contient les sous-block */
.secondBlock
{
    /* utilise x% de larger et y% de hauteur de la page */
    width: 100%;
    height: 20%;
    /* contour plus arrondi */
    border-radius: 10px;
    /* L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page. */
    position: relative;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    font-family: 'Arial Black', Arial, sans-serif;
    /* Il est flexible et ses éléments enfants le sont aussi */
    display: flex;
    justify-content: center;
}

/* Block tertiaire qui contient les éléments à afficher */
.thirdBlock
{
    /* utilise x% de larger et y% de hauteur de la page */
    width: 50%;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
    /* contour plus arrondi */
    /* L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page. */
    position: relative;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    font-size: 120%;
    font-family: 'Arial Black', Arial, sans-serif;
    /* Il est flexible et ses éléments enfants le sont aussi */
    display: flex;
    /* centre par rapport à l'axe inversé (comme ici on est sur l'axe des colonnes, alors cela centre par rapport à l'axe horizontale */
    align-items: center;
    /*centre par rapport à l'axe principale (celui de colonne) */
    justify-content: center;
}

img
{
    position: relative;
    width: 500px;
    height: 240px;
    border-radius: 10px;
}

img.full
{
    position: relative;
    width: 700px;
    height: 300px;
    border-radius: 10px;
}

a
{
    color: white;
}

p
{
    margin-left: 1%;
    margin-right: 1%;
}

h2
{
    color:white;
    font-size: 350%;
}

h3
{
    color:rgb(232, 125, 13);
    font-size: 300%;
}

@media screen and (max-width: 64em) 
{
    h2 
    {
        color: white;
        position: relative;
        font-size: 170%;
    }
    h3
    {
        position: relative;
        font-size: 170%;
    }
}

@media screen and (max-width: 60em) 
{
    p
    {
        font-size: 70%;
    }
}
    
@media screen and (max-width: 50em) 
{
    h2
    {
        color: white;
        position: relative;
        font-size: 90%;
    }
    h3
    {
        position: relative;
        font-size: 100%;
    }
    p
    {
        font-size: 55%;
    }
    .firstBlock
    {
        height: 30%;
        top:30%
    }
}

@media screen and (max-width: 30em)
{
    h2
    {
        color: white;
        position: relative;
        font-size: 70%;       
    }
        h3
    {
        position: relative;
        font-size: 170%;
    }
}
